//
//  ShowCaseLevelin-Mock.xcconfig
//  ShowcaseLevelin
//
//  Created by @algoreadme on 13/07/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_BUNDLE_IDENTIFIER = com.levelin.dhikadityre.SLMock
APP_NAME = SL-Mock
FLAVOR = MOCK
FIREBASE_CONFIG_PLIST_NAME = GoogleService-Info-mock
